
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import '~modern-normalize/modern-normalize.css';

body{

  width: 100%;
background-color: var(--main-color);
  font-family: var(--Font);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

p:last-child {
  margin-bottom: 0;
}

nav,
footer,
header,
aside {
  display: block;
}
.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul {
  list-style: none;
}
a {
  color: currentColor;
  text-decoration: none;
  font-family: "OpenSansHebrew", sans-serif;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

input {
  display: block;
  outline: none;
}

body.modal-open {
  overflow: hidden;
}

/* Root styles */

:root {
  --text-color:white;
--Font:"Noto Sans", sans-serif;
--main-color:#02123A;
--ackcent-color-1:#FF4BAC;
--opacity-color: rgba(140, 43, 95, 0.5);
--ackcent-color-2:#8C2B5F;
--header-color:#011037;
--project-color:#F02090;
}